*
!public
!public/**/*
!src
!src/**/*
!doc
!doc/**/*

# ignora la cartella e poi ignora tutto quello che c'è dentro
# senza questa specificazione non venivano inclusi per qualche motivo: src/i18n || src/utils || src/layout 

!astro.config.mjs
!package-lock.json
!package.json
!tsconfig.json
!.gitignore


